* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.create-thread-form {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-thread--form {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-thread--input {
  flex-grow: 2;
  border-radius: 50px;
  padding: 10px 20px;
}

.create-thread--btn {
  font-weight: bold;
  width: 80px;
  height: auto;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
  background-color: #862e9c;
  color: #f8f0fc;
  cursor: pointer;
  margin-bottom: 8px;
}

.create-thread--btn:hover {
  background-color: #ae3ec9;
  font-weight: bold;
}

.btn-primary {
  --bs-btn-active-bg: #9c36b5;
  font-weight: bold;
}
