* {
  padding: 0;
  margin: 0;
  border-radius: border-box;
}

.about-app-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #495057;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0.4px solid #495057;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

h2 {
  color: #b41cda;
  text-align: center;
  margin-top: 2rem;
}

.join-now a {
  text-decoration: none;
  align-items: center;
  color: #be4bdb;
  padding-right: 2rem;
  padding-left: 2rem;
}

.join-now a:hover {
  background-color: #ae3ec9;
  color: #f3d9fa;
  border-radius: 12px;
}
