* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  height: auto;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.sign-in--title {
  color: #b41cda;
  font-size: 24px;
  margin-bottom: 28px;
  font-weight: normal;
  opacity: 0.8;
  letter-spacing: 1px;
}

.sign-in--form {
  border: none;
  border-radius: 18px;
  width: 55%;
  color: #862e9c;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

.form-label {
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border-color: 0.2px solid #862e9c;
  border-radius: 18px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  box-shadow: none;
  border-color: #862e9c;
}

.form-control:hover {
  background-color: #f8f9fa;
}

.sign-in--form input::placeholder {
  color: #868e96;
  font-style: italic;
  font-size: 14px;
  opacity: 0.7;
}

.sign-in--btn {
  background-color: #fff0f6;
  border: 1px solid #b41cda;
  padding: 0.5rem;
  color: #b41cda;
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  margin-top: 12px;
}

.sign-in--btn:hover {
  background-color: #ffdeeb;
  border: 1px solid #b41cda;
  color: #b41cda;
}

.sign-in--btn:active {
  --bs-btn-active-bg: #fcc2d7;
  color: #b41cda;
  font-weight: bold;
}

.btn-primary {
  --bs-btn-active-color: none;
  font-weight: bold;
}

.navigate-sign-in {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.have-account {
  margin-bottom: 0;
}

.nav-link:hover {
  color: #7c059a;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 414px) {
  .sign-in--form {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding: 0.5rem;
    padding-top: 1rem;
  }

  .sign-in--btn {
    padding: 8px;
    font-size: 18px;
  }
}
