.page-footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3d9fa;
  padding: 0 !important;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #be4bdb;
}

.footer-copyright a {
  text-decoration: none;
  color: #862e9c;
}
